html
  head
    script(src='/bundle.js')
    title= title
  body
    h1= message

    div
      form(method="post", action="/register")
        p Username: 
          input(type="text", name="username", placeholder="Username")
        p Password: 
          input(type="text", name="password", placeholder="Password")
        input(type="submit", value="Submit")
